streamlit==1.39.0
chromadb==0.5.11
pandas==2.2.3
langchain==0.3.2
langchain-community==0.3.1
langchain-core==0.3.9
langchain-groq==0.2.0
langchain-text-splitters==0.3.0
selenium==4.25.0
unstructured==0.15.13
unstructured-client==0.25.9
python-dotenv==1.0.1
protobuf==4.25.5
pysqlite3-binary

